body
{
  background-color: #ededa6;

}
.header
{
  background-color: #fefefa
}
.redes-sociales
{
  padding: 2.5%;
  text-align: right;
}
.item
{
  text-decoration: overline;
  text-align: center;
  background-color: #fdfff5
}
.item a
{
  text-decoration: none;
  color: black;
}
.articulos
{
background-color: #fefefa;
padding: 2%
}
.origen-titulo
{
  text-decoration: underline;
  font-family: cursive;
}
.articulo1
{
  text-align: justify;
}
.img-articulo1 img
{
  width:100%;
  padding: 4%
}
.Usuario-img
{
  text-align: center;
}
.Usuario-img img
{
  width:60%;

}
.img-articulo2 img
{
  width:100%;
  padding: 5%

}
.articulo2
{
  text-align: justify;
}
.articulo2 h3
{
  text-decoration: underline;
  font-family: cursive;
}
.Usuario-img2 img
{
  width: 60%;

}
.Usuario-img2
{

  text-align: center;

}
.buscador
{
  background-color: #fdfff5;
  padding: 2%
}
.share button
{
min-height: 10%
}
.form-group img
{

  width: 22px;
}
#search
{
 padding-right: 2%
}
.list-group
{
  text-align: center;
}
