body
{
  background-image: url("../img/fondo-comida.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: serif;
}
.cabezera,.cuerpo
{
  background-color: #d2f9ff;
  opacity: 0.9
}
.titulo
{
  border-right: 1px solid gray;
  text-align: right;
}
.cuerpo
{
  border-top: 1px solid gray
}
.button
{
  margin: 3%
}
.left,.right
{
  background-color: #fffbcd ;
  margin:2%;
}
.left-img img
{
  width: 92%  ;
padding: 2%
}
.historial
{
  margin: 2%
}
.img
{
  padding: : 2%
}
.right
{
  padding: 2.5%
}
.right img
{
  width: 100%
}
